<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucasmontano.emissary.sample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".service.WithLibService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.NoLibService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity android:name=".activity.NoLibActivity" >
        </activity>

        <activity android:name=".activity.WithLibActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
